name: Publish Python Package to PyPi

on:
  workflow_dispatch:
    inputs:
      increment-type:
        type: choice
        description: 'Increment type'
        options:
          - patch
          - minor
          - major

permissions:
  contents: write

jobs:
  generate-new-package-version:
    name: Generate new package version
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    outputs:
      CURRENT_PACKAGE_VERSION: ${{ steps.get-current-package-version.outputs.CURRENT_PACKAGE_VERSION }}
      NEW_PACKAGE_VERSION: ${{ steps.build-new-package-version.outputs.NEW_PACKAGE_VERSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get current package version from pyproject.toml
        id: get-current-package-version
        uses: ./.github/actions/get-current-package-version

      - name: Build new package version
        id: build-new-package-version
        run: |
          # Parse package version
          IFS='.' read -r major minor patch <<< "${{ steps.get-current-package-version.outputs.CURRENT_PACKAGE_VERSION }}"

          # Increment version
          if [ "${{ github.event.inputs.increment-type }}" = "major" ]; then
            major=$((major + 1))
            minor=0
            patch=0          
          elif [ "${{ github.event.inputs.increment-type }}" = "minor" ]; then
            minor=$((minor + 1))
            patch=0
          elif [ "${{ github.event.inputs.increment-type }}" = "patch" ]; then
            patch=$((patch + 1))
          fi
          
          NEW_PACKAGE_VERSION="$major.$minor.$patch"
          echo "New package version: $NEW_PACKAGE_VERSION"

          # Set new package version as output variable
          echo "NEW_PACKAGE_VERSION=$NEW_PACKAGE_VERSION" >> $GITHUB_OUTPUT

  build-distribution-package:
    name: Build distribution package
    needs: [generate-new-package-version]
    uses: ./.github/workflows/build-distribution-package.yml
    with:
      CURRENT_PACKAGE_VERSION: ${{ needs.generate-new-package-version.outputs.CURRENT_PACKAGE_VERSION }}
      NEW_PACKAGE_VERSION: ${{ needs.generate-new-package-version.outputs.NEW_PACKAGE_VERSION }}

  upload-pypi:
    name: Upload package to PyPi
    needs: [build-distribution-package]
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/tradeflow

    permissions:
      id-token: write

    steps:
      - name: Unpacks all CIBW artifacts into dist/
        uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://upload.pypi.org/legacy/

  documentation:
    name: Build and deploy documentation
    needs: [upload-pypi]
    uses: ./.github/workflows/documentation.yml

  push-new-package-version:
    name: Push new package version
    needs: [generate-new-package-version, upload-pypi]
    runs-on: ubuntu-latest
    env:
      CURRENT_PACKAGE_VERSION: ${{ needs.generate-new-package-version.outputs.CURRENT_PACKAGE_VERSION }}
      NEW_PACKAGE_VERSION: ${{ needs.generate-new-package-version.outputs.NEW_PACKAGE_VERSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.BOT_ACCESS_TOKEN }}

      - name: Update package version in pyproject.toml
        run: |
          sed -i "s+version = \"$CURRENT_PACKAGE_VERSION\"+version = \"$NEW_PACKAGE_VERSION\"+g" pyproject.toml

      - name: Push new package version
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add pyproject.toml
          git commit -m "Increment package version to ${{ needs.generate-new-package-version.outputs.NEW_PACKAGE_VERSION }} [skip ci]"
          git push origin HEAD:main

  release:
    name: Create release
    needs: [generate-new-package-version, push-new-package-version]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NEW_PACKAGE_VERSION: ${{ needs.generate-new-package-version.outputs.NEW_PACKAGE_VERSION }}
        run: |
          gh release create "v$NEW_PACKAGE_VERSION" \
              --repo="$GITHUB_REPOSITORY" \
              --title="Release $NEW_PACKAGE_VERSION" \
              --generate-notes

  verify-uploaded-content-pypi:
    name: Verify uploaded package content on PyPi
    needs: [generate-new-package-version, upload-pypi]
    uses: ./.github/workflows/verify-uploaded-package-content.yml
    with:
      package-index: pypi
      package-version: ${{ needs.generate-new-package-version.outputs.NEW_PACKAGE_VERSION }}

  check-package-installation-and-usage-pypi:
    name: Install package from PyPi and test basic functionality
    needs: [generate-new-package-version, upload-pypi]
    uses: ./.github/workflows/check-package-installation-and-usage.yml
    with:
      package-index: pypi
      package-version: ${{ needs.generate-new-package-version.outputs.NEW_PACKAGE_VERSION }}
      install-default-version: true
      delay-before-check: 6
